<!-- Device-wise Energy Consumption Pie Chart -->
<canvas id="deviceEnergyPieChart" width="400" height="400"></canvas>

<script>
    // Pie Chart
    var deviceEnergyData = {
        labels: labels | tojson,
        datasets: [{
            data: values | tojson,
            backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4CAF50'],
            hoverOffset: 4
        }]
    };

    // Get the canvas element
    var deviceEnergyPieCanvas = document.getElementById('deviceEnergyPieChart').getContext('2d');

    // Create the chart
    var deviceEnergyPieChart = new Chart(deviceEnergyPieCanvas, {
        type: 'pie',
        data: deviceEnergyData,
        options: {
            plugins: { legend: { position: 'right' } }
        }
    });
</script>
